 body {
     font-family: Arial, sans-serif;
     background-color: #beebc2;
     text-align: center
 }

 h1 {
     color: #333;
     border-style: dotted;
     border-width: 2px;
     border-color: #333;
 }

 p {
     color: #555;
     font-size: 18px;
 }