 body {
     font-family: sans-serif;
     background-color: #e6edf6;
     text-align: left margin: 20px;
     margin: 30px;
 }

 h1 {
     color: #333;
     text-align: center;
     border-color: #333;
 }

 p {
     color: #555;
     font-size: 18px;
 }